<section class="w-full h-100">
  <swiper-container navigation="true" pagination="true" class="h-full w-full">
    <swiper-slide class="relative">
      <div class="h-full w-full bg-cover bg-center bg-[url('/images/home-slider-1.d79601a8.png')]">
        <div class="absolute inset-0 bg-linear-to-r from-green-500/90 to-green-400/50"></div>

        <div class="relative z-10 h-full flex items-center">
          <div class="container mx-auto px-4 text-(--card-bg) ml-8 md:ml-16">
            <h1 class="text-3xl md:text-5xl font-bold mb-4">
              Fresh Products Delivered<br />to your Door
            </h1>

            <p class="text-lg mb-8">Get 20% off your first order</p>

            <div class="flex gap-4">
              <a
                routerLink="/shop"
                class="bg-(--card-bg) text-(--color-primary) px-8 py-3 rounded-lg font-bold"
              >
                Shop Now
              </a>

              <a class="border-2 border-(--card-bg) px-8 py-3 rounded-lg"> View Deals </a>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class="relative">
      <div class="h-full w-full bg-cover bg-center bg-[url('/images/home-slider-1.d79601a8.png')]">
        <div class="absolute inset-0 bg-linear-to-r from-green-500/90 to-green-400/50"></div>

        <div class="relative z-10 h-full flex items-center">
          <div class="container mx-auto px-4 text-(--card-bg) ml-8 md:ml-16">
            <h1 class="text-3xl md:text-5xl font-bold mb-4">Premium Quality Guaranteed</h1>

            <p class="text-lg mb-8">Fresh from farm to your table</p>

            <div class="flex gap-4">
              <a
                routerLink="/detailsCats/6439d41c67d9aa4ca97064d5/supermarket"
                class="bg-(--card-bg) text-(--color-primary) px-8 py-3 rounded-lg font-bold"
              >
                Shop Now
              </a>

              <a class="border-2 border-(--card-bg) px-8 py-3 rounded-lg"> Learn More </a>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
    <swiper-slide class="relative">
      <div class="h-full w-full bg-cover bg-center bg-[url('/images/home-slider-1.d79601a8.png')]">
        <div class="absolute inset-0 bg-linear-to-r from-green-500/90 to-green-400/50"></div>

        <div class="relative z-10 h-full flex items-center">
          <div class="container mx-auto px-4 text-(--card-bg) ml-8 md:ml-16">
            <h1 class="text-3xl md:text-5xl font-bold mb-4">Fast & Free Delivery</h1>

            <p class="text-lg mb-8">Same day delivery available</p>

            <div class="flex gap-4">
              <a
                routerLink="/shop"
                class="bg-(--card-bg) text-(--color-primary) px-8 py-3 rounded-lg font-bold"
              >
                Order Now
              </a>

              <a routerLink="/shop" class="border-2 border-(--card-bg) px-8 py-3 rounded-lg">
                View Deals
              </a>
            </div>
          </div>
        </div>
      </div>
    </swiper-slide>
  </swiper-container>
</section>
